# =============== #

# Unity generated #

# =============== #

[Tt]emp/

[Oo]bj/

[Bb]uild

[Bb]uilds

Logs

/[Ll]ibrary/

sysinfo.txt

*.stackdump



# ============================================= #

# Visual Studio / MonoDevelop / Rider generated #

# ============================================= #

[Ee]xported[Oo]bj/

.vs/

/*.userprefs

/*.csproj

/*.pidb

/*.suo

/*.sln*

/*.user

/*.unityproj

/*.booproj

/.idea*/



# ============ #

# OS generated #

# ============ #

.DS_Store*

._*

.Spotlight-V100

.Trashes

ehthumbs.db

[Tt]humbs.db

[Dd]esktop.ini
app.apk
app.apk
Breathe.exe
Breathe_Data/app.info
Breathe_Data/boot.config
Breathe_Data/globalgamemanagers
Breathe_Data/globalgamemanagers.assets
Breathe_Data/level0
Breathe_Data/level1
Breathe_Data/level1.resS
Breathe_Data/Managed/Assembly-CSharp.dll
Breathe_Data/Managed/Mono.Security.dll
Breathe_Data/Managed/mscorlib.dll
Breathe_Data/Managed/netstandard.dll
Breathe_Data/Managed/System.ComponentModel.Composition.dll
Breathe_Data/Managed/System.Configuration.dll
Breathe_Data/Managed/System.Core.dll
Breathe_Data/Managed/System.Data.dll
Breathe_Data/Managed/System.Diagnostics.StackTrace.dll
Breathe_Data/Managed/System.dll
Breathe_Data/Managed/System.Drawing.dll
Breathe_Data/Managed/System.EnterpriseServices.dll
Breathe_Data/Managed/System.Globalization.Extensions.dll
Breathe_Data/Managed/System.IO.Compression.dll
Breathe_Data/Managed/System.IO.Compression.FileSystem.dll
Breathe_Data/Managed/System.Net.Http.dll
Breathe_Data/Managed/System.Numerics.dll
Breathe_Data/Managed/System.Runtime.Serialization.dll
Breathe_Data/Managed/System.Runtime.Serialization.Xml.dll
Breathe_Data/Managed/System.ServiceModel.Internals.dll
Breathe_Data/Managed/System.Transactions.dll
Breathe_Data/Managed/System.Xml.dll
Breathe_Data/Managed/System.Xml.Linq.dll
Breathe_Data/Managed/System.Xml.XPath.XDocument.dll
Breathe_Data/Managed/Unity.Analytics.DataPrivacy.dll
Breathe_Data/Managed/Unity.Analytics.StandardEvents.dll
Breathe_Data/Managed/Unity.Analytics.Tracker.dll
Breathe_Data/Managed/Unity.TextMeshPro.dll
Breathe_Data/Managed/UnityEngine.AccessibilityModule.dll
Breathe_Data/Managed/UnityEngine.AccessibilityModule.xml
Breathe_Data/Managed/UnityEngine.AIModule.dll
Breathe_Data/Managed/UnityEngine.AIModule.xml
Breathe_Data/Managed/UnityEngine.AnimationModule.dll
Breathe_Data/Managed/UnityEngine.AnimationModule.xml
Breathe_Data/Managed/UnityEngine.ARModule.dll
Breathe_Data/Managed/UnityEngine.ARModule.xml
Breathe_Data/Managed/UnityEngine.AssetBundleModule.dll
Breathe_Data/Managed/UnityEngine.AssetBundleModule.xml
Breathe_Data/Managed/UnityEngine.AudioModule.dll
Breathe_Data/Managed/UnityEngine.AudioModule.xml
Breathe_Data/Managed/UnityEngine.BaselibModule.dll
Breathe_Data/Managed/UnityEngine.BaselibModule.xml
Breathe_Data/Managed/UnityEngine.ClothModule.dll
Breathe_Data/Managed/UnityEngine.ClothModule.xml
Breathe_Data/Managed/UnityEngine.ClusterInputModule.dll
Breathe_Data/Managed/UnityEngine.ClusterInputModule.xml
Breathe_Data/Managed/UnityEngine.ClusterRendererModule.dll
Breathe_Data/Managed/UnityEngine.ClusterRendererModule.xml
Breathe_Data/Managed/UnityEngine.CoreModule.dll
Breathe_Data/Managed/UnityEngine.CoreModule.xml
Breathe_Data/Managed/UnityEngine.CrashReportingModule.dll
Breathe_Data/Managed/UnityEngine.CrashReportingModule.xml
Breathe_Data/Managed/UnityEngine.DirectorModule.dll
Breathe_Data/Managed/UnityEngine.DirectorModule.xml
Breathe_Data/Managed/UnityEngine.dll
Breathe_Data/Managed/UnityEngine.FileSystemHttpModule.dll
Breathe_Data/Managed/UnityEngine.FileSystemHttpModule.xml
Breathe_Data/Managed/UnityEngine.GameCenterModule.dll
Breathe_Data/Managed/UnityEngine.GameCenterModule.xml
Breathe_Data/Managed/UnityEngine.GridModule.dll
Breathe_Data/Managed/UnityEngine.GridModule.xml
Breathe_Data/Managed/UnityEngine.HotReloadModule.dll
Breathe_Data/Managed/UnityEngine.HotReloadModule.xml
Breathe_Data/Managed/UnityEngine.ImageConversionModule.dll
Breathe_Data/Managed/UnityEngine.ImageConversionModule.xml
Breathe_Data/Managed/UnityEngine.IMGUIModule.dll
Breathe_Data/Managed/UnityEngine.IMGUIModule.xml
Breathe_Data/Managed/UnityEngine.InputModule.dll
Breathe_Data/Managed/UnityEngine.InputModule.xml
Breathe_Data/Managed/UnityEngine.JSONSerializeModule.dll
Breathe_Data/Managed/UnityEngine.JSONSerializeModule.xml
Breathe_Data/Managed/UnityEngine.LocalizationModule.dll
Breathe_Data/Managed/UnityEngine.LocalizationModule.xml
Breathe_Data/Managed/UnityEngine.Networking.dll
Breathe_Data/Managed/UnityEngine.ParticleSystemModule.dll
Breathe_Data/Managed/UnityEngine.ParticleSystemModule.xml
Breathe_Data/Managed/UnityEngine.PerformanceReportingModule.dll
Breathe_Data/Managed/UnityEngine.PerformanceReportingModule.xml
Breathe_Data/Managed/UnityEngine.Physics2DModule.dll
Breathe_Data/Managed/UnityEngine.Physics2DModule.xml
Breathe_Data/Managed/UnityEngine.PhysicsModule.dll
Breathe_Data/Managed/UnityEngine.PhysicsModule.xml
Breathe_Data/Managed/UnityEngine.ProfilerModule.dll
Breathe_Data/Managed/UnityEngine.ProfilerModule.xml
Breathe_Data/Managed/UnityEngine.ScreenCaptureModule.dll
Breathe_Data/Managed/UnityEngine.ScreenCaptureModule.xml
Breathe_Data/Managed/UnityEngine.SharedInternalsModule.dll
Breathe_Data/Managed/UnityEngine.SharedInternalsModule.xml
Breathe_Data/Managed/UnityEngine.SpatialTracking.dll
Breathe_Data/Managed/UnityEngine.SpriteMaskModule.dll
Breathe_Data/Managed/UnityEngine.SpriteMaskModule.xml
Breathe_Data/Managed/UnityEngine.SpriteShapeModule.dll
Breathe_Data/Managed/UnityEngine.SpriteShapeModule.xml
Breathe_Data/Managed/UnityEngine.StreamingModule.dll
Breathe_Data/Managed/UnityEngine.StreamingModule.xml
Breathe_Data/Managed/UnityEngine.StyleSheetsModule.dll
Breathe_Data/Managed/UnityEngine.StyleSheetsModule.xml
Breathe_Data/Managed/UnityEngine.SubstanceModule.dll
Breathe_Data/Managed/UnityEngine.SubstanceModule.xml
Breathe_Data/Managed/UnityEngine.TerrainModule.dll
Breathe_Data/Managed/UnityEngine.TerrainModule.xml
Breathe_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
Breathe_Data/Managed/UnityEngine.TerrainPhysicsModule.xml
Breathe_Data/Managed/UnityEngine.TextCoreModule.dll
Breathe_Data/Managed/UnityEngine.TextCoreModule.xml
Breathe_Data/Managed/UnityEngine.TextRenderingModule.dll
Breathe_Data/Managed/UnityEngine.TextRenderingModule.xml
Breathe_Data/Managed/UnityEngine.TilemapModule.dll
Breathe_Data/Managed/UnityEngine.TilemapModule.xml
Breathe_Data/Managed/UnityEngine.Timeline.dll
Breathe_Data/Managed/UnityEngine.TimelineModule.dll
Breathe_Data/Managed/UnityEngine.TimelineModule.xml
Breathe_Data/Managed/UnityEngine.TLSModule.dll
Breathe_Data/Managed/UnityEngine.TLSModule.xml
Breathe_Data/Managed/UnityEngine.UI.dll
Breathe_Data/Managed/UnityEngine.UIElementsModule.dll
Breathe_Data/Managed/UnityEngine.UIElementsModule.xml
Breathe_Data/Managed/UnityEngine.UIModule.dll
Breathe_Data/Managed/UnityEngine.UIModule.xml
Breathe_Data/Managed/UnityEngine.UmbraModule.dll
Breathe_Data/Managed/UnityEngine.UmbraModule.xml
Breathe_Data/Managed/UnityEngine.UNETModule.dll
Breathe_Data/Managed/UnityEngine.UNETModule.xml
Breathe_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
Breathe_Data/Managed/UnityEngine.UnityAnalyticsModule.xml
Breathe_Data/Managed/UnityEngine.UnityConnectModule.dll
Breathe_Data/Managed/UnityEngine.UnityConnectModule.xml
Breathe_Data/Managed/UnityEngine.UnityTestProtocolModule.dll
Breathe_Data/Managed/UnityEngine.UnityTestProtocolModule.xml
Breathe_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
Breathe_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.xml
Breathe_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
Breathe_Data/Managed/UnityEngine.UnityWebRequestAudioModule.xml
Breathe_Data/Managed/UnityEngine.UnityWebRequestModule.dll
Breathe_Data/Managed/UnityEngine.UnityWebRequestModule.xml
Breathe_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
Breathe_Data/Managed/UnityEngine.UnityWebRequestTextureModule.xml
Breathe_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
Breathe_Data/Managed/UnityEngine.UnityWebRequestWWWModule.xml
Breathe_Data/Managed/UnityEngine.VehiclesModule.dll
Breathe_Data/Managed/UnityEngine.VehiclesModule.xml
Breathe_Data/Managed/UnityEngine.VFXModule.dll
Breathe_Data/Managed/UnityEngine.VFXModule.xml
Breathe_Data/Managed/UnityEngine.VideoModule.dll
Breathe_Data/Managed/UnityEngine.VideoModule.xml
Breathe_Data/Managed/UnityEngine.VRModule.dll
Breathe_Data/Managed/UnityEngine.VRModule.xml
Breathe_Data/Managed/UnityEngine.WindModule.dll
Breathe_Data/Managed/UnityEngine.WindModule.xml
Breathe_Data/Managed/UnityEngine.xml
Breathe_Data/Managed/UnityEngine.XRModule.dll
Breathe_Data/Managed/UnityEngine.XRModule.xml
Breathe_Data/resources.assets
Breathe_Data/resources.assets.resS
Breathe_Data/Resources/unity default resources
Breathe_Data/Resources/unity_builtin_extra
Breathe_Data/sharedassets0.assets
Breathe_Data/sharedassets0.assets.resS
Breathe_Data/sharedassets1.assets
Breathe_Data/sharedassets1.assets.resS
Breathe_Data/sharedassets1.resource
MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll
MonoBleedingEdge/etc/mono/2.0/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/2.0/machine.config
MonoBleedingEdge/etc/mono/2.0/settings.map
MonoBleedingEdge/etc/mono/2.0/web.config
MonoBleedingEdge/etc/mono/4.0/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/4.0/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/4.0/machine.config
MonoBleedingEdge/etc/mono/4.0/settings.map
MonoBleedingEdge/etc/mono/4.0/web.config
MonoBleedingEdge/etc/mono/4.5/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/4.5/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/4.5/machine.config
MonoBleedingEdge/etc/mono/4.5/settings.map
MonoBleedingEdge/etc/mono/4.5/web.config
MonoBleedingEdge/etc/mono/browscap.ini
MonoBleedingEdge/etc/mono/config
MonoBleedingEdge/etc/mono/mconfig/config.xml
ProjectSettings/GraphicsSettings.asset
ProjectSettings/UnityConnectSettings.asset
UnityCrashHandler64.exe
UnityPlayer.dll
WinPixEventRuntime.dll
ProjectSettings/UnityConnectSettings.asset
ProjectSettings/GraphicsSettings.asset
app.apk
